<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>안 살꺼면 나가라 ㅎㅎ </p>
    <nav>
      <ul class="nav-container">
        <li class="nav-item"> <a href="">Book</a></li>
        <li class="nav-item"> <a href="/login">로그인</a></li>
        <li class="nav-item"> <a href="/signup">회원가입</a></li>
        <li class="nav-item"> <a href="">장바구니</a></li>
      </ul>
    </nav>
  </body>
</html>
