<!DOCTYPE html>
<html lnag="ko">

<head>
    <meta charset="UTF-8">
    <title>Sign-Up</title>
    <link rel="stylesheet" href="/stylesheets/signup.css">
</head>

<body>
    <div class="main-signup">
        <div class="main-wrap">
        <header>
            <div class="title-signup">
                <h1> Sign Up </h1>
            </div>
        </header>

        <!-- <form method="post" action="/주소"> -->
        <form method="post" action="/user/signup">
            <section class="signup-wrap">
                <div>

                    <h3>아이디</h3>
                    <div class="signup-input">
                        <input name="signup_id" required="required" placeholder="Username" type="text">
                    </div>

                    <h3>비밀번호</h3>
                    <div class="signup-input">
                        <input name="signup_pw" type="text" placeholder="Pw"  required="required">
                    </div>

                    <h3>이름</h3>
                    <div class="signup-input">
                        <input name="signup_name" type="text" placeholder="Name"required="required">
                    </div>

                    <div class="signup-btn-wrap">
                        <button>Sign Up</button>
                    </div>
                    
                </div>
            
            </section>
        </form>

            <footer>
                <div class="copyright-wrap" style="font-size: 12px;" >
                    <span>이용약관 | 개인정보처리방침 | 책임의 한계와 고지 | 회원정보 고객센터</span>
                    <div>© 예Zl문go Corp.</div>
                </div>
            </footer>

        </div>
    </div>
</body>

</html>