body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.nav-container {
  display :flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  position: fixed;
  background-color: #748DA6;
  list-style-type: none;
}

.nav-item {
  padding: 15px;
  cursor: pointer;
  padding-left: 20px;
}


.nav-item a {
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 70px
}